body{
    overflow-x: hidden;
    text-align: center;
    background-image: url("Images/dog_and_cat_pattern-11.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    font-family: "Madimi One", sans-serif;
}
.head {
    text-align: center;
    background: rgb(69,60,232);
    background: linear-gradient(90deg, rgba(69,60,232,1) 0%, rgba(1,168,201,1) 100%);
    padding: 10px;
}
.h1{
    font-size: 50px;
}
.head2{
    text-align: center;
    background: rgb(60,173,232);
    background: radial-gradient(circle, rgba(60,173,232,1) 17%, rgba(60,219,232,1) 90%);
    padding: 10px;
}
.p1, .p2{
    font-size: 20px;
}

.dogimg{
    background: rgba(77, 77, 77, 45%);
    padding: 25px;
}
.web{
    font-size: 35px;
}

.w, .e, .b, .s, .i, .t, .e, .ex{
    display: inline-block;
}
.w{
    color:#c90101;
}
.e{
    color:#e88a3c;
}
.b{
    color:#e8e03c;
}
.s{
    color:#3fe83c;
}
.i{
    color:#0014be;
}
.t{
    color:#e03ce8;
}
.e{
    color:#e83c70;
}
