body{
    overflow-x: hidden;
    text-align: center;
    background-image: url("dog_and_cat_pattern-11.jpg");
    background-repeat: repeat;
    background-size: contain;
    font-family: "Madimi One", "sans-serif";
}

.bann1{
    margin-top: 5px;
    padding:10px;
    background: rgb(138,138,135);
    background: radial-gradient(circle, rgba(138,138,135,1) 0%, rgba(86,86,86,1) 100%);
}

.bann2{

}

.form{
    background-color: moccasin;
    height: 46px;
    width: 600px;
    padding: 0 10px;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.form:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.form:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.form:not(:checked) > label:before {
    content: '★ ';
}
.form > input:checked ~ label {
    color: #ffc700;
}
.form:not(:checked) > label:hover,
.form:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.form > input:checked + label:hover,
.form > input:checked + label:hover ~ label,
.form > input:checked ~ label:hover,
.form > input:checked ~ label:hover ~ label,
.form > label:hover ~ input:checked ~ label {
    color: #c59b08;
}