body{
    text-align: center;
    font-family: "Madimi One", sans-serif;
    background-color: #EEEEEE;
}
.main{
    display: inline-block;
    border: 1px solid #EEEEEE;;
    padding: 10px 50px 35px 50px;
    margin-top: 25px;
    border-radius: 10px;
    background: rgb(215,207,207);
    background: radial-gradient(circle, rgba(215,207,207,1) 0%, rgba(213,213,213,1) 100%);
}
button{
    font-family: "Madimi One", sans-serif;
    font-size: 25px;
    border-radius: 5px;
    background-color: cornflowerblue;
}