body{

}

.admin__table {
    width: 100%;
    font-size: 20px;
}

.admin__table .first {
    border-bottom: 1px solid #181a1f;
}

.admin__table td {
    padding: 5px 0;
}

.admin__table tr {
    border-bottom: 1px solid #909090;
}

.admin__table-new {
    margin-top: 40px;
    padding: 10px 25px;
    font-family: "Roboto";
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid;
    font-size: 18px;
}

.admin__table-new:hover {
    background-color: #909090;
}

.admin__table-button {
    padding: 5px 15px;
    font-family: "Roboto";
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid;
    font-size: 18px;
}

.admin__table-button:hover {
    background-color: #909090;
}

.update__item {
    margin-top: 20px;
}

.update__item input {
    padding: 10px;
    border: 1px solid #909090;
    border-radius: 5px;
    width: 50%;
    font-family: "Roboto";
}

td{
    text-align: center;
    border: 1px solid;
}