body{
    overflow-x: hidden;
    text-align: center;
    background-image: url("../dog_and_cat_pattern-11.jpg");
    background-repeat: repeat;
    background-size: contain;
    font-family: "Madimi One", "sans-serif";
}

.bann1{
    padding:10px;
    background: rgb(240,179,157);
    background: radial-gradient(circle, rgba(240,179,157,1) 0%, rgba(247,161,148,1) 100%);
}

.bann2{
    background: rgb(102,235,236);
    background: radial-gradient(circle, rgba(102,235,236,1) 6%, rgba(71,112,250,1) 100%);
    padding-bottom: 50px;
    font-size: 25px;
}

.form{
    position: absolute;
    right: 461px;
    height: 46px;
    width: 600px;
    padding: 0 10px;
    border-radius: 10px;
    color: black;
}

.form2{
    position: absolute;
    bottom: 408px;
}

.textbox{
    background: rgb(102,235,236);
    background: radial-gradient(circle, rgba(102,235,236,1) 6%, rgba(71,112,250,1) 100%);
    font-size: 20px;
}

.dogimg{
    background: rgba(77, 77, 77, 45%);
}

.form:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.form:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.form:not(:checked) > label:before {
    content: '★ ';
}
.form > input:checked ~ label {
    color: #ffc700;
}
.form:not(:checked) > label:hover,
.form:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.form > input:checked + label:hover,
.form > input:checked + label:hover ~ label,
.form > input:checked ~ label:hover,
.form > input:checked ~ label:hover ~ label,
.form > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
